<div class="col-md-12">
	<% if @feed_items.any?%>

	<ul class="list-group">

		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ul>
	<%= will_paginate @feed_items%>
	<%end%>
</div>